/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

/* ----- General ------*/
html {
  font-family: 'Josefin Sans', sans-serif;
}
body{
  background: url("geometry.png");
}
div.divider {
  background-color: #4527A;
}




/* ------ NAVBAR ----- */
nav.white.z-depth-1 {
  background-color: snow;
}

nav ul a,
nav .brand-logo {
  color: #444;
  font-family: 'Righteous', cursive;
}
#logo-container img {
  width: 40px;
}

a#logo-container img {
  vertical-align: text-top;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #a1a1a1;
}


/* ----- MAIN SECTION ------ */

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

div#index-banner div.container-fluid  {
  background-color: rgba(0,0,0,0.4);
  border-radius: 7px;
  font-size: 32px ;
  color: white;
}

h1.header.center {
  font-size: 32px;
}

div.row.icon_section  div.col.s12.m4:hover {

}

  .parallax-container .section {
    width: 100%;
  }

.parallax-container div.container-fluid {
  margin-top: 50px;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block img {
  height: 70px;

}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

div.fixed-action-btn.vertical a {
  background-color: #ff4a48;
}



div#chi_siamo {

}

#map {
  height: 250px;
  width: 100%;
}


/*----- Contact ------*/

#contact_gvt li {
  font-size: ;
}

#contact_gvt li img {
  vertical-align: middle;
  float: left;
  margin-right: 5px;
}
p.contact_title {
  font-size: 32px;
}

li.email h4{
  font-size: 30px;
}

/* ----- Galeria Foto ------*/

div#galeria_foto ul li div.caption {
  background-color: rgba(0,0,0,0.4);
  border-radius: 7px;
  font-size: 32px ;
  color: white;
}

/* Last Parallax */

#last_parallax div.row.center {
  background-color: rgba(33,33,33,0.3);
  border-radius: 7px;

  color: white;
}
#last_parallax div.row.center h5 {
  font-size: 45px;
}

/* Button */

#call_button {
  display: none;
}

/* ---- Footer ----  */


footer {
  background-image: url("diagmonds.png");
}

div#info_legali p {
  border-left: 1px solid white;
  padding-left: 5px;
}

div.footer-copyright img {
  width: 32px;
}

div.footer-copyright  {
  color: #ffffff;
  font-family:'Poiret One', cursive;
  font-size: 20px;
  font-weight: 300;
  margin-top: 13px;
}

div.footer_copy.row {
  margin: 0;
}

footer.page-footer {
  border-top: 5px solid white;
  background-color: #212121;
}


/* ----- MEDIA QUERYS -----*/

@media screen and (min-width: 840px) {
  h1.header.center {
    font-size: 50px;
  }
  
}


